src/main/mule/repo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="repo1Flow" doc:id="efde03a5-e83b-4532-a3c3-cf73fb7ecbb3" >
		<logger level="INFO" doc:name="Logger" doc:id="3ab6737e-bb56-4132-bc83-385b61426005" message="Repos1"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4968ecd5-62fb-4b1c-8a59-a2fd68f7b5ab" />
	</flow>
</mule>
